.banner {
  width: 100%;
  background-color: #211c24;
  padding: 40px 20px;
  height: 600px;
  position: relative;
  overflow: visible;
}

.banner-wr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  position: relative;
}

.ban-left,
.ban-right {
  width: 50%;
}

.img {
  width: 100%;
  z-index: 10;
  height: auto;
}

.ban-right {
  width: 35%;
}

.ban-left {
  position: relative;
  transform: translateY(-250px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  text-align: start;
  align-items: flex-start;
  justify-content: center;
}

.ban-left h1 h3 {
  font-weight: 900;
  transform: translateY(-3px);
}

.ban-left h1 {
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 60px;
}

.ban-left h1 span {
  font-weight: 800;
  font-size: 60px;
  transform: translateY(-5px);
}

p {
  font-size: 20px;
}

.title-down {
  font-size: 16px;
  color: var(--grey);
}

.ban-btn {
  height: 56;
  padding: 15px 40px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
}
